$white: #ffffff;
$black: #000000;
$grey: #cdcdcd;
$red: #f20000;

$tqz: #00bac6;
$tqz-text: #00bac6;
$orange-text: #cd5b33;
$gray-bg:#f3f3f3;
$gray-text: #707070;
$dark-gray-text:#464646;
$light-gray-text: #7b7b7b;


$footer:#58c9d2;
$footer-dark:#51b9c1;